
.tract {
  stroke: navy;
  stroke-width: 1;
  fill: url("#diagonalHatch");
}
/*GREENS*/
.plotted.q0-9{fill:rgb(247,252,245)}
.plotted.q1-9{fill:rgb(229,245,224)}
.plotted.q2-9{fill:rgb(199,233,192)}
.plotted.q3-9{fill:rgb(161,217,155)}
.plotted.q4-9{fill:rgb(116,196,118)}
.plotted.q5-9{fill:rgb(65,171,93)}
.plotted.q6-9{fill:rgb(35,139,69)}
.plotted.q7-9{fill:rgb(0,109,44)}
.plotted.q8-9{fill:rgb(0,68,27)}

/*BLUES
.tract.q0-9{fill:rgb(247,251,255)}
.tract.q1-9{fill:rgb(222,235,247)}
.tract.q2-9{fill:rgb(198,219,239)}
.tract.q3-9{fill:rgb(158,202,225)}
.tract.q4-9{fill:rgb(107,174,214)}
.tract.q5-9{fill:rgb(66,146,198)}
.tract.q6-9{fill:rgb(33,113,181)}
.tract.q7-9{fill:rgb(8,81,156)}
.tract.q8-9{fill:rgb(8,48,107)}*/
/* Greys */
.q0-9{fill:rgb(255,255,255)}
.q1-9{fill:rgb(240,240,240)}
.q2-9{fill:rgb(217,217,217)}
.q3-9{fill:rgb(189,189,189)}
.q4-9{fill:rgb(150,150,150)}
.q5-9{fill:rgb(115,115,115)}
.q6-9{fill:rgb(82,82,82)}
.q7-9{fill:rgb(37,37,37)}
.q8-9{fill:rgb(0,0,0)}

/* Disabled tracts */
.qNA { pointer-events: none; }

#test-container {
  float: left;
}
.hidden {
  display: none;
}
.hatchRect {
  fill: #AAA;
  stroke: none;
}
.hatchPath {
  stroke: #666;
}

.legend .label,
.legend .header-label {
  font-family: sans-serif;
  font-size: xx-small;
  alignment-baseline: central;
}
.label-tick {
  stroke: black;
  stroke-dasharray: 3;
}

/*
.tract.plotted {
  stroke: #333;
  stroke-width: 2;
}*/
.tract:hover,
.tract.selected {
  stroke: red;
  stroke-width: 2;
}
#main {
  clear: both;
  float: left;
  margin: auto;
}
#info {
  clear: both;
  margin: auto;
  text-align: center;
  height: 1.2em;
}
#scatter-group-container {
  float: left;
  /*width: 650px;
  height: 650px;*/
  /*border: 1px solid blue;*/
}
#map-container {
  float: left;
  /*width: 600px;
  height: 600px;*/
  /*border: 1px solid gray;*/
}
#y-density-container {
  float: left;
  clear: right;
}
#scatter-container {
  float: left;
  clear: left;
}
#corner-container {
  clear: right;
  float: left;
}
#x-density-container {
  float: left;
  clear: left;
}

#y-density-slider {
  float: left;
}

#explanation {
  clear: both;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px 0;
  
}

/* Tooltips */

.tooltip {
  padding: 0;
  margin: 0px;
  width: 10em;
  height: 4em;
}
.tooltip-body {
  padding: 0em;
  margin: 0em;

  background-color: lightsteelblue;
  
  border-style: solid;
  border-color: #666;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;

  position: relative;
  display: block;
}
.tooltip-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
  font-size: .9em;
}

.tooltip-list:after,
.tooltip-list:before {
  border: solid transparent;
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  margin: 0;
}

/* Triangle above (fill color) */
.tooltip-list:after {
  border-color: transparent;
  border-width: 1em;
}

/* Triangle below (border color) */
.tooltip-list:before {
  border-color: transparent;
  border-width: 1.42em; /* = after width + sqrt(2)*border width */
}

.east .tooltip-list:after { border-right-color: lightsteelblue; }
.east .tooltip-list:before { border-right-color: #666; }

.west .tooltip-list:after { border-left-color: lightsteelblue; }
.west .tooltip-list:before { border-left-color: #666; }

.east .tooltip-list:after,
.east .tooltip-list:before { top: 50%; right: 0%; }

.west .tooltip-list:after,
.west .tooltip-list:before { top: 50%; left: 100%; }

.east .tooltip-list:after,
.west .tooltip-list:after { margin-top: -1em; }


.east .tooltip-list:before,
.west .tooltip-list:before { margin-top: -1.42em; }


circle {
  fill: blue;
  fill-opacity: .4;
  stroke: darkblue;
  stroke-opacity: .6;
  opacity: .3;
}
circle:hover,
circle.selected {
  fill-opacity: .5;
  opacity: 1;
  stroke: red;
  stroke-width: 2;
}
.text {
  clear: both;
}
svg {
  float: left;
  /*border: 1px dashed lightgray;*/
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.area {
  fill: lightblue;
  stroke-width: 0;
  fill-opacity: .5;
}

#xden-highlight .line,
#yden-highlight .line,
.highlight-line {
  stroke-width: 2px;
  stroke: #333;
  stroke-opacity: 1;
}

.brush .extent {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}