@import "plots";
@import "tooltips";

.hidden {
  display: none;
}

#main {
  clear: both;
  float: left;
  margin: 0 auto;
}
#info {
  clear: both;
  margin: auto;
  text-align: center;
  height: 1.2em;
}
#scatter-group-container {
  float: left;
  /*width: 650px;
  height: 650px;*/
  /*border: 1px solid blue;*/
}
#map-container {
  float: left;
  /*width: 600px;
  height: 600px;*/
  /*border: 1px solid gray;*/
}
#y-density-container {
  float: left;
  clear: right;
}
#scatter-container {
  float: left;
  clear: left;
}
#corner-container {
  clear: right;
  float: left;
}
#x-density-container {
  float: left;
  clear: left;
}

#y-density-slider {
  float: left;
}

#explanation {
  clear: both;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px 0;
  
}





#loading {
    position: absolute;
    left: 50%;
    top: 50%;
}
#loading p {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
}