@import "plots";
@import "tooltips";

.hidden {
  display: none;
}

#main {
  margin: 0 auto;
}
#figure {
    clear: both;
}

#scatter-group-container {
  float: left;
}

#scatter-container {
  float: left;
  clear: left;
}
#y-density-container {
  float: left;
  clear: right;
}
#x-density-container {
  float: left;
  clear: left;
}
#corner-container {
  clear: right;
  float: left;
}

#map-container {
  float: left;
}

#figure-footer {
    clear: both;
}

#explanation {
  clear: both;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}


#loading {
    position: absolute;
    left: 50%;
    top: 50%;
}
#loading p {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
}